<ion-content>
    <h1>Mercat</h1>
    <ion-input (input)="search()" [(ngModel)]="crypto" label="Cercar..." label-placement="floating" fill="outline" placeholder="Introdueix el nom..."></ion-input>
    <ion-list>
        <ion-item *ngFor="let crypto of getCryptos(); index as i" routerLink="/view/{{crypto.id}}">
            <h5>({{i + 1}}) {{crypto.name}}</h5>
            <h5 [ngStyle]="{'color': getColor(crypto.changePercent24Hr)}">{{crypto.changePercent24Hr}}</h5>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>